.test{
	border: none;
}

.anchor-tile-exclusive{
	color: #E6B125;
	border-color: #E6B125;
  vertical-align: top;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  padding: .6em .2em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  height: 4.2em;
  width: 4.2em;
  .anchor-type{
  	background-color: #E6B125;
  	font-size: 90%;
  	margin-bottom: -.7em
  }
  &.banner{
  	border-radius: 0;
  	background: #e6b125;
  	color: white;
  	padding-top: 20px;

  	&:before{
  		content: '';
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			bottom: -11px;
			left: -1px;
  		border-width: 10px 2.2em 0 0;
			border-color: #e6b325 transparent transparent transparent;
			content: "";
  	}
  	&:after{
  		content: '';
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			bottom: -11px;
			right: -1px;
  		border-width: 0 2.2em 10px 0;
			border-color: transparent #e6b325 transparent transparent;
			content: "";
  	}
  }
}


.offers{
	.coupon-type-exclusive{
		color: #E6B125;
	}
}

.exclusive-offer{
	padding: 16px 12px;
  background-color: #fff;
  color: #bfbfbf;
  position: relative;
  margin: 0;
  border: 0 solid #c6c6c6;
  border-width: 0 0 1px;
  position: relative;

  .col2{
  	padding-right: 0;
  }
  &:before, &:after{
  	position: absolute;
  	content: "";
  }
	&:before{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #c6c6c6 transparent;
		transform: rotate(0deg);
		bottom: 0;
		left: 47%;
		padding: 0;
		z-index: 1;
	}
	&:after{
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #ECECEC transparent;
		bottom: -1px;
		left: 47%;
		padding: 0;
		z-index: 2;
	}
}

.login-signup{
	padding: 0;
	margin-top: 20px;
	background: transparent;

	h2{
		color: #555;
		font-weight: 300;
		line-height: 1.2em;
	}

	.form-inputs{
		background: transparent;
	}
}

.share-section{
	padding: 20px 14px;
	background: white;
	.share-group{
		border: 1px solid #c6c6c6;
		padding: 0;
		width: 100%;
		border-radius: 6px;
		color: #c6c6c6;
		li{
			width: 32.3%;
			padding: 16px 16px 16px 24px;
			border-right: 1px solid #c6c6c6;
			display: inline-block;
			text-align: center;
			font-size: 12px;
			position: relative;
			&.text{
				padding-left: 18px;
			}
			&:before{
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				height: 16px;
				width: 16px;
				content: "";
				position: absolute;
				left: 16px;
				top: 12px;
			}
			&.save:before{
				background-image: url(../img/star.png);
			}
			&.email:before{
				background-image: url(../img/email.png);
			}
			&.text:before{
				background-image: url(../img/phone.png);
				top: 13px;
			}
			&:last-child{
				border-right: none;
			}
		}
	}
}

.details-section{
	padding: 6px 14px 20px;
	background: white;
	color: #555;
	font-weight: 400;
	p{
		margin-bottom: 20px;
	}
	strong{
		font-weight: bold;
	}
	small{
		font-size: 12px;
	}
}

.offers.exclusive-offers{
	margin-bottom: 0;
}

.coupon-code-section{
	padding: 20px 14px;
	h2{
		color: #555;
		font-weight: 300;
		line-height: 1.2em;
		font-size: 20px;
		text-align: center;
	}

	h3{
		text-align: center;
		font-weight: 600;
		margin: 16px 0 8px;
	}
	.code{
		font-size: 28px;
		font-weight: 600;
		text-align: center;
		color: #000;
		padding: 8px;
		border: 3px dotted #2181F7;
		border-radius: 6px;
	}

	.button{
		color: white;
		margin-top: 20px;
		padding: 12px 16px;
		text-align: center; 
		background: #259FC4;
		display: block;
		border-radius: 3px;
		font-size: 16px;
	}
}

.anchor-members-only{
	font-size: .7em;
	text-transform: capitalize;
}

.banner{
	position: absolute;
	top: 0;
	left: 9px;
}

.faux-link{
	color: #259fc4;
}
